@import "variables";


#emails-view {
  @extend %flex_column_center;
  width: 100%;
}

.left_side_of_email {
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
  align-items: center;
  flex-direction: row;
  width: 45%;
  gap: 8%;
}

.right_side_of_email {
  @extend %flex_row_center;
  width: 50%;
  gap: 50px;
}

.each_email_div {
  border: antiquewhite;
  border-radius: 5px;
  background-color: #f8f1e8;
  @extend %flex_row_center;
  width: 100%;
  gap: 40%;
  margin-bottom: 10px;
  height: 50px;
  font-family: "Segoe UI", sans-serif;
  color: $my_color;
  font-size: 17px;
}

.each_email_div:hover {
  transform: scale(1.02);
}

.email_timestamp {
  width: auto;
  flex-wrap: nowrap;
}

.archive_btn {
  width: 30%;
  height: 40px;
  @extend %button_feature;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .left_side_of_email {
    width: 50%;
  }
  .right_side_of_email {
    width: 70%;
  }
  .each_email_div {
    gap: 30%;
  }
}

@media (min-width: 765px) and (max-width: 991px) {
  .each_email_div {
    gap: 14%;
  }
  .left_side_of_email {
    gap: 3%;
  }
  .right_side_of_email {
    width: 60%;
  }
}

@media (max-width: 764px) {
  .left_side_of_email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5%;
    gap: 4px;
  }
  .each_email_div {
    gap: 5%;
    font-size: 16px;
  }
  .right_side_of_email {
    width: 70%;
    gap: 4px;
  }
}