textarea {
    min-height: 400px;
}
body{
    background-color: antiquewhite;
}
#emails-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.left_side_of_email{
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
    align-items: center;
    flex-direction: row;
    width: 40%;
    gap: 8%;
}
.right_side_of_email{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
    gap: 50px;
}
.each_email_div{
    border: antiquewhite;
    border-radius: 5px;
    background-color: #f8f1e8;
    /*background: #d6d6d6;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40%;
    margin-bottom: 10px;
    height: 50px;
    font-family: "Segoe UI", sans-serif;
    color: #633636;
    font-size: 17px;
}
.each_email_div:hover{
    transform: scale(1.02);
}
.each_email_show{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: #633636 solid;
    width: 70%;
    min-height: 500px;
}
.email_timestamp{
    width: auto;
}
.email_detail{
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
}
.container{
    width: 100%;
}
.hr {
    width: 70%;
    border: 1px solid #633636;
}
.container{
    margin-top: 2%;
}
.archive_btn{
    width: 30%;
    height: 40px;
    background: #633636;
    color: white;
    border: #633636  solid;
    border-radius: 4px;
}

.reply_btn{
    width: 15%;
    height: 35px;
    background: #633636;
    color: white;
    border: #633636  solid;
    border-radius: 4px;
    margin-left: 2%;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #633636;
    color: white;
    font-family: "Segoe UI", sans-serif;
}
.buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8%;
}
.btn{
    color: white;
    font-size: larger;
}
.btn:hover{
    transform: scale(1.12);
    color: inherit;
}
.head{
    color: #633636;
}




