@import "variables";

textarea {
  min-height: 400px;
}

body {
  background-color: antiquewhite;
}

#emails-view {
  @extend %flex_column_center;
  width: 100%;
}

.left_side_of_email {
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
  align-items: center;
  flex-direction: row;
  width: 45%;
  gap: 8%;
}

.right_side_of_email {
  @extend %flex_row_center;
  width: 50%;
  gap: 50px;
}

.each_email_div {
  border: antiquewhite;
  border-radius: 5px;
  background-color: #f8f1e8;
  @extend %flex_row_center;
  width: 100%;
  gap: 40%;
  margin-bottom: 10px;
  height: 50px;
  font-family: "Segoe UI", sans-serif;
  color: $my_color;
  font-size: 17px;
}

.each_email_div:hover {
  transform: scale(1.02);
}

.each_email_show {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: $my_color solid;
  width: 70%;
  min-height: 500px;
  color: $my_color;
  font-weight: bold;
  font-size: 16px;
}

.email_timestamp {
  width: auto;
  flex-wrap: nowrap;
}

.email_detail {
  margin-top: 1%;
  margin-left: 2%;
  margin-bottom: 1%;
}

.container {
  width: 100%;
}

.hr {
  width: 70%;
  border: 1px solid $my_color;
}

.container {
  margin-top: 2%;
}

.archive_btn {
  width: 30%;
  height: 40px;
  @extend %button_feature;
}

.reply_btn {
  margin-top: 35%;
  width: 15%;
  height: 40px;
  @extend %button_feature;
  margin-left: 2%;
  margin-bottom: 5%;
}

.reply_btn:hover {
  transform: scale(1.12);
}

.header {
  @extend %flex_column_center;
  background-color: $my_color;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.buttons {
  width: 100%;
  @extend %flex_row_center;
  gap: 8%;
}

.btn {
  color: white;
  font-size: larger;
}

.btn:focus {
  box-shadow: none;
}

.btn:hover {
  transform: scale(1.12);
  color: inherit;
}

.head {
  color: $my_color;
}

.forms {
  @extend %flex_column_center;
  width: 100%;
  border: $my_color solid 1px;
  min-height: 500px;
  margin-top: 100px;
  gap: 20px;
}

.form-group {
  width: 40%;
  border-radius: 6px;
  border: $my_color solid 2px;
}
.form-control{
  background-color: #f8f1e8;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border: $my_color solid 1px;
  background-color: #f8f1e8;
}

.register_login_btn {
  width: 12%;
  @extend %button_feature;
  height: 42px;
  font-size: larger;
}

.register_login_btn:hover {
  transform: scale(1.12);
}

.compose-input {
  border-radius: 4px;
  border: $my_color solid 2px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #f8f1e8;
}

.compose-input:focus {
  border: $my_color solid 2px;
  background-color: #f8f1e8;
}

.compose-btn {
  width: 15%;
  height: 40px;
  @extend %button_feature;
  margin-bottom: 20px;
}

.compose-btn:hover {
  transform: scale(1.12);
}

@media (min-width: 992px) and (max-width: 1200px) {
  .left_side_of_email {
    width: 50%;
  }
  .right_side_of_email {
    width: 70%;
  }
  .each_email_div {
    gap: 30%;
  }
}

@media (min-width: 765px) and (max-width: 991px) {
  .each_email_div {
    gap: 14%;
  }
  .left_side_of_email {
    gap: 3%;
  }
  .right_side_of_email {
    width: 60%;
  }
  .form-group{
    width: 60%;
  }
  .each_email_show{
    width: 80%;
  }
  .reply_btn{
    margin-top: 50%;
  }
}

@media (max-width: 764px) {
  .left_side_of_email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5%;
    gap: 4px;
  }
  .buttons {
    gap: 2%;
    font-size: 14px;
  }
  .each_email_div {
    gap: 5%;
    font-size: 16px;
  }
  .right_side_of_email {
    width: 70%;
    gap: 4px;
  }
  .form-group{
    width: 60%;
  }
  .register_login_btn{
    width: 20%;
  }
  .each_email_show{
    width: 90%;
  }
  .reply_btn{
    margin-top: 60%;
  }
}

